<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark px-1000" style="background-color: #2d3033; border-radius: 6px; padding-left: 20px">
        <div class="container">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'articles' %}">Articles</a>
                </li>
        
                {% if request.user.is_authenticated %}
                <li>
                    <a class="nav-link" href="{% url 'favourites' %}">Favourites</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'publications' %}">Publications</a>
                </li>
                <li>
                    <p>Logged as {{ request.user.username }}</p>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            </ul>

            {% url 'login' as login_url %}
            {% if request.path != login_url %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>