{% extends 'base.html' %}
{% load i18n %}

{% block title %}
<title>Articles</title>
{% endblock %}

{% block content %}
<h1>Articles</h1>
<table>
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Synopsis" %}</th>
            <th>{% trans "Created" %}</th>
            <th>{% trans "When" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for article in object_list|dictsortreversed:"created" %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.author }}</td>
            <td>
                {% if article.synopsis|length > 20 %}
                    {{ article.synopsis|slice:":20" }}...
                {% else %}
                    {{ article.synopsis }}
                {% endif %}
            </td>
            <td>{{ article.created }}</td>
            <td>{{ article.created|timesince }}</td>
            <td><a href="{% url 'details' article.id %}" class="btn btn-primary">{% trans "Read" %}</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">{% trans "No articles." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
